<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Dashboard/plugins/images/favicon.png">
    <title>@ViewData["Title"]</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Dashboard/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Dashboard/plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="~/Dashboard/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Dashboard/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="~/Dashboard/css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .login-box {
            background: #fff;
            width: 400px;
            margin: 5% auto 0;
        }
    </style>
</head>

<body>
<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<section id="wrapper" class="login-register">
@RenderBody()
</section>
<!-- jQuery -->
<script src="~/Dashboard/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/Dashboard/bootstrap/dist/js/tether.min.js"></script>
<script src="~/Dashboard/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/Dashboard/plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="~/Dashboard/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
<!--slimscroll JavaScript -->
<script src="~/Dashboard/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="~/Dashboard/js/waves.js"></script>
<!-- Custom Theme JavaScript -->
<script src="~/Dashboard/js/custom.min.js"></script>
<!--Style Switcher -->
<script src="~/Dashboard/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
</body>

</html>
