@model CooperativeAccounting.Models.Entities.AppTransport
@{
    Layout = "_Layout";
    ViewData["Title"] = "Dashboard";
}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">My Dashboard</h4>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="white-box">
            <div class="row row-in">
                @for(int i = 2000; i <= DateTime.Now.Year; i++)
                {
                    <a href="@Url.Action("Months", "Transaction",new{id = i})" class="col-lg-4 col-sm-6 row-in-br">
                        <div class="col-in row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <i class="linea-icon linea-basic fa fa-calendar"></i>
                                @*<h5 class="text-muted vb">@i</h5>*@
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <h3 style="font-weight: bolder" class="counter text-right m-t-15 text-success">@i</h3>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                            </div>
                        </div>
                    </a>
                }
               

            </div>
        </div>
    </div>
</div>
<!--row -->